html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}
  
  #embed-html {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: #1E1E1E;
    z-index: 100;
    opacity: 1;
    overflow: scroll;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;

    /*display: none;*/
}

.brandcontainer {
    overflow: scroll;
    padding: 100px 300px;
}

.brandcontainer__section {
    margin-bottom: 80px;
}

.brandcontainer__section h2 {
    text-align: center;
    text-transform: uppercase;
} 

.brandcontainer__section h2.underline {
    text-align: left;
    text-decoration: underline;
    font-weight: 500;
    font-size: 19px;
}

.brandcontainer__p {
    text-align: center;
    line-height: 30px;
}

.brandcontainer__gridarea {
    display: grid;
}

.brandcontainer__gridercon {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px; 
    grid-row-gap: 20px;
}

.brandcontainer__figure {
    background: blue;
    width: 100%;
    height: 100px;
    height: 400px; 
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.brandcontainer__slidearea {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    margin-bottom: 100px;

    background-image: url("/embedimgs/oraimo_launch.png");
    background-size: cover;
    background-position: center;
}

.brandcontainer__slide {
    position: relative;
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
   
}

.brandcontainer__slidewrapper {
    position: relative;
    width: 400px;
    height: 500px;
}

.brandcontainer__slide figure {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 500px;
    margin: 0;
    transition: all .4s ease;
    opacity: 0;
}

.brandcontainer__slidearea {
    display: flex;
    align-items: center;
}

.brandcontainer__slidebtn img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.brandcontainer__slidenav {
    display: flex;
    justify-content: center;
}

.brandcontainer__slidenav span {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: #fff;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 100%;
    opacity: .5;
    transform: translateY(-120px);
    transition: all .4s ease;
}

.current_nav {
    opacity: 1;
}